@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #2d5e71;
}

::-webkit-scrollbar-thumb {
    background: #b9dfe8;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #52a8be;
}